@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
text-align: center;
}
button {
  font-family: inherit;
  font-weight: 700;
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
}